<h1>All posts</h1>
<ul>
    <?php
        require dirname(__FILE__).'/../models/Post.php';

        $posts = Post::all(10, $page);
        foreach ($posts as $post) {
            echo "<li><a href=\"/posts/{$post->id}\">{$post->title}</a> @ {$post->date_created}</li>";
        }

        echo '<span class="pageNav">';

        $next_page = $page + 1;
        $prev_page = $page - 1;
        if ($page > 0) {
            echo "<a href=\"/?p=$prev_page\">←</a>";
        }

        if (count($posts) == 10) {
            echo "<a href=\"/?p=$next_page\">→</a>";
        }

        echo '</span>';
    ?>
</ul>
